.main {
	position: absolute;
	width: 100%;
	height: 270px;
	top: 50%;
	margin: -135px 0 0 0;
	@media (max-width: 672px) {
		height: 404px;
		margin: -202px 0 0 0;
	}
	text-align: center;
}

	.main__title {
		font-size: 6em;
		font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	}